<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
   {{ title }}!
  </h1>
  <!--here add and update data-->
  <h2>Create data:</h2>
  <form action="">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" placeholder="Enter Your Name" name="name" [(ngModel)]="model.name" required>
    </div>
    <div class="form-group">
      <label for="postion">Position:</label>
      <input type="text" class="form-control" id="position" placeholder="Enter Your Position" name="position"  [(ngModel)]="model.position" required>
    </div>
    <button type="submit" class="btn btn-default" (click)="addEmployee()" *ngIf="hideUpdate">Save</button>
     <button type="submit" class="btn btn-default" (click)="updateEmployee()" *ngIf="!hideUpdate">Update</button>
    </form>


   <!--list which will be added delted and edited-->
   <h2>read data & (Delete data):</h2>
   <table class="table table-bordered">
    <thead>
      <tr>
        <th width=400>Name</th>
        <th width=400>Position</th>
        <th width=200>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees; let i=index">
        <td>{{employee.name}}</td>
        <td>{{employee.position}}</td>
        <td>
        <button class="btn btn-sucess" (click)="editEmployee(i)">Edit</button>
        <button class="btn btn-danger" (click)="deleteEmployee(i)" [disabled]=employee.disableDelete >Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

